In [263]:
import numpy as np
from sklearn import preprocessing, model_selection, neighbors, svm
import pandas as pd
import matplotlib.pyplot as plt
import pickle

In [264]:
df = pd.read_csv(r'C:\Users\sivac\Desktop\ML\archive\breast-cancer-wisconsin.data')

In [265]:
df

,id,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_size,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [266]:
df.replace('?', -99999, inplace = True)
df.drop(['id'],1, inplace=True)  #if inplace = True is not used the changes are not being comitted hence affecting the outcome

In [267]:
df.head()

,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_size,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2

In [268]:
X = np.array(df.drop(['class'],axis= 1))

In [269]:
y = np.array(df['class'])

In [270]:
print(np.shape(y))
print(np.shape(X))

(699,)
(699, 9)

In [271]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X,y,test_size=0.2)

In [275]:
clf = neighbors.KNeighborsClassifier (n_jobs = -1) #imply change clf = svm.svc() to use svm instead of knn
clf.fit(X_train, y_train)
with open('kneighbor.pickle','wb') as f : #pickling .......
    pickle.dump(clf,f)
    
pickle_in = open('kneighbor.pickle','rb') 
clf = pickle.load(pickle_in)              #pickling end........
accuracy = clf.score(X_test, y_test)
print(accuracy)

0.9714285714285714

In [276]:
predict_data = np.array([[2,1,4,3,2,1,5,4,3],[6,7,4,3,2,5,5,4,3]])

In [274]:
print(clf.predict(predict_data))

[2 4]